.main-grid figure {
  margin: unset;
}

#resto img {
  max-width: 446px;
  width: 100%;
  object-fit: contain;
}

#story a {
  color: black;
  font-size: 25px;
  margin-top: 42px;
}

#nos-burgers {
  margin-top: 100px;
}

#diapo img:not(.slick-arrow) {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.slick-slide{
  margin-left:  15px;
  margin-right:  15px;
}

.slick-list {
  margin-left: -15px;
  margin-right: -15px;
  pointer-events: none;
}

.slick-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.prev {
  left: -20px;
}

.next {
  right: -20px;
}

h2.center {
  margin-top: 100px;
}

.article {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.article h3 {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.1rem;
}
.actu_img {
  width: 100%;
  max-height: 400px;
  height: 100%;
  margin: 2rem 0;
}

.article img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.article p {
  text-align: center;
  margin-bottom: 2rem;
  text-align: center;
}

.article a {
  margin-top: 30px;
  align-self: center;
}

.newsletter {
  background-color: rgba(217, 217, 217, 0.44);
  padding: 60px 100px;
  margin-top: 3rem;
}
.newsletter-content {
  background-color: #576D8B;
  padding: 30px;
  border-radius: 7px;
  display: flex;
}

.newsletter-content .right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: white;
}

.newsletter-content .right h4 {
  color: rgba(217, 173, 214, 0.78);
}

.newsletter-content .right form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.newsletter-content .right form span {
  width: inherit;
  text-align: right;
}

.newsletter-content .right input {
  padding: 24px 21px;
  border: none;
  border-radius: 7px;
  width: 100%;
  margin: 0 5px;
}

.newsletter-content .right button {
  border: none;
}

.newsletter-content .right button:hover {
  cursor: pointer;
}

.newsletter-content .right svg {
  fill: white;
  height: 40px;
  width: 40px;
}

.newsletter-content .right input:focus {
  outline: none;
}

/* Media queries */

@media screen and (max-width: 992px) {
  .newsletter-content {
      flex-direction: column;
      text-align: center;
  }
}